
textarea[data-v-9ef958c9] {
    width: 100%;
    height: 6em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 3px;
    resize: none;
}

.banner[data-v-ab07e9ac] {
    background-color: lightgoldenrodyellow;
    border-radius: 0.5em;
    box-sizing: border-box;
    color: #333;
    margin-bottom: 1em;
    min-height: 3em;
    padding: 1.5em 3em;
    text-align: center;
}

a[data-v-10224143] {
    text-underline-offset: 0.3em;
    color: #71caff;
}
a[data-v-10224143]:hover {
    color: var(--white);
}
#bg-container {
    height: 100vh;
    width: 100vw;
    min-width: 31em;
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
#bg {
    background-image: linear-gradient(165deg, var(--black) 60%, var(--ardc-purple) 100%);
    width: 100%;
    height: 100%;
}

#app {
    min-width: 30em;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
}

@media screen and (min-width: 70em){
    :root {
        font-size: 112%;
    }

    #app {
        padding-left: 3em;
        padding-right: 3em;
    }
}


@media screen and (max-width: 70em){
    :root {
        font-size: 100%;
    }

    #app {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media screen and (max-width: 41.5em){
    :root {
        font-size: 70%;
    }

    #app {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

a[data-v-996882b3] {
    text-underline-offset: 0.3em;
    color: #144e70;
}
a[data-v-996882b3]:hover {
    color: var(--black);
}
.banner[data-v-996882b3] {
    background-color: lightgoldenrodyellow;
    border-radius: 0.5em;
    box-sizing: border-box;
    color: #333;
    margin-bottom: 1em;
    min-height: 3em;
    padding: 1.5em 3em;
    text-align: center;
}

img.logo[data-v-ed8fb2dc] {
    height: 3em;
    margin-left: 2em;
    margin-right: 2em;
}
.logos[data-v-ed8fb2dc] {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
footer[data-v-ed8fb2dc] {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
    padding-bottom: 16em;
}
footer p[data-v-ed8fb2dc] {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    font-size: small;
}

.footer[data-v-797d62b0] {
    min-width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
}
.inner[data-v-797d62b0] {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0.4) 100%);
    width: 100%;
    height: 100%;
    min-height: 12em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.progressbars[data-v-797d62b0] {
    border-radius: 0.5em;
    column-gap: 0.5em;
    display: flex;
    flex-direction: row;
    max-width: 50em;
    min-width: 30em;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    padding-left: 3em;
    padding-right: 3em;
}
.labels[data-v-797d62b0] {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}
.bars[data-v-797d62b0] {
    flex-grow: 0.8;
    display: flex;
    flex-direction: column;
}
.row[data-v-797d62b0] {
    height: 1.75em;
    min-height: 1.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.label[data-v-797d62b0] {
    text-align: right;
    line-height: 2em;
    color: white;
}
.bar[data-v-797d62b0] {
    height: 0.7em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}
.bar-bg[data-v-797d62b0] {
    background-color: #eee;
}
.blue[data-v-797d62b0] {
    background-color: var(--ardc-blue);
    width: var(--5d9979d4);  /* CSS Vue magic here */
}
.pink[data-v-797d62b0] {
    background-color: var(--ardc-pink);
    width: var(--5d9979cf);  /* CSS Vue magic here */
}
.yellow[data-v-797d62b0] {
    background-color: var(--ardc-yellow);
    width: var(--5d9979d7);  /* CSS Vue magic here */
}
.purple[data-v-797d62b0] {
    background-color: var(--ardc-purple);
    width: var(--5d9979e0);  /* CSS Vue magic here */
}

.answer[data-v-3339ce52] {
    padding: 0.3em 0.2em;
    border: 2px solid var(--dark);
    border-radius: 0.25em;
    column-gap: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
*[data-v-3339ce52]:focus:not(.focus-visible) {
    /*  https://css-tricks.com/keyboard-only-focus-styles/  */
    outline: none;
}
.answer[data-v-3339ce52]:hover, .answer[data-v-3339ce52]:focus, .answer[data-v-3339ce52]:active, .answer[data-v-3339ce52]:focus-visible {
    border-color: var(--ardc-purple);
    color: var(--white);
}
.answer-radiobutton[data-v-3339ce52] {
    width: min-content;
}
.answer-points[data-v-3339ce52] {
    width: min-content;
    /*display: none;*/
}
.answer-text[data-v-3339ce52] {
    width: 100%;
}


fieldset[data-v-e183013d] {
    border-style: none;
    flex-grow: 1;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0em;
    padding-inline-start: 0em;
    padding-inline-end: 0em;
    padding-block-end: 0em;
}
legend[data-v-e183013d] {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin-bottom: 1em;
}
.question[data-v-e183013d] {
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.question-index[data-v-e183013d] {
    min-width: 2em;
}
.question-guidance[data-v-e183013d] {
    margin-bottom: 1em;
    text-align: justify;
    /*display: none;*/
}
.shared[data-v-e183013d] {
    /* shared styles for legend and .question-index */
    font-weight: bold;
    line-height: 1.6em;
    font-size: 1.17em;
}

main[data-v-0ee2db6e] {
    color: var(--white);
}
h1[data-v-0ee2db6e] {
    line-height: 1.2em;
    margin-top: 3em;
}
h2[data-v-0ee2db6e] {
    /*border-bottom: 2px solid var(--white);*/
    color: var(--white);
    /*margin-bottom: 2em;*/
    padding: 20px 10px;
    text-align: center;
}
.aspect[data-v-0ee2db6e] {
    background-color: var(--dark);
    border-radius: 0.5em;
    border: 2px solid #444;
    color: var(--light);
    margin-bottom: 4em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
}
@media screen and (max-width: 41.5em) {
.aspect[data-v-0ee2db6e] {
        padding-left: 1em;
        padding-right: 1em;
}
}
