
textarea[data-v-17539a46] {
    background-color: white;
    border-radius: 3px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    color: black;
    height: 6em;
    resize: none;
    width: 100%;
}

.banner[data-v-ab07e9ac] {
    background-color: lightgoldenrodyellow;
    border-radius: 0.5em;
    box-sizing: border-box;
    color: #333;
    margin-bottom: 1em;
    min-height: 3em;
    padding: 1.5em 3em;
    text-align: center;
}

a[data-v-10224143] {
    text-underline-offset: 0.3em;
    color: #71caff;
}
a[data-v-10224143]:hover {
    color: var(--white);
}
#bg-container {
    background-color: black;
    height: 100vh;
    left: 0;
    min-width: 31em;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}
#bg {
    background-image: linear-gradient(145deg, rgba(0,0,0,0) 40%, var(--ardc-purple) 100%),
                      linear-gradient(215deg, rgba(0,0,0,0) 60%, var(--ardc-purple) 110%);
    width: 100%;
    height: 100%;
}

#app {
    min-width: 30em;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
}

@media screen and (min-width: 70em) {
    :root {
        font-size: 112%;
    }
    #app {
        padding-left: 3em;
        padding-right: 3em;
    }
}


@media screen and (max-width: 70em) {
    :root {
        font-size: 100%;
    }
    #app {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media screen and (max-width: 41.5em) {
    :root {
        font-size: 70%;
    }
    #app {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

a[data-v-6919f73d] {
    text-underline-offset: 0.3em;
    color: #144e70;
}
a[data-v-6919f73d]:hover {
    color: var(--black);
}
.banner[data-v-6919f73d] {
    background-color: lightgoldenrodyellow;
    border-radius: 0.5em;
    box-sizing: border-box;
    color: #333;
    margin-bottom: 1em;
    min-height: 3em;
    padding: 1.5em 3em;
    text-align: center;
}

img.logo[data-v-ed8fb2dc] {
    height: 3em;
    margin-left: 2em;
    margin-right: 2em;
}
.logos[data-v-ed8fb2dc] {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
footer[data-v-ed8fb2dc] {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
    padding-bottom: 16em;
}
footer p[data-v-ed8fb2dc] {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    font-size: small;
}

.footer[data-v-7eb2e851] {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.inner[data-v-7eb2e851] {
    width: 100%;
    /*background-color: orange;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    max-width: 56em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-sizing: border-box;
}
.another-inner[data-v-7eb2e851] {
    background-color: var(--light);
    flex-grow: 1;
    min-width: 30em;
    max-width: 50em;
    /*border-top: 2px solid #444;*/
    /*border-left: 2px solid #444;*/
    /*border-right: 2px solid #444;*/
    box-sizing: border-box;
}
@media screen and (min-width: 70em) {
.inner[data-v-7eb2e851] {
        padding-left: 3em;
        padding-right: 3em;
}
}
@media screen and (max-width: 70em) {
.inner[data-v-7eb2e851] {
        padding-left: 3em;
        padding-right: 3em;
}
}
@media screen and (max-width: 41.5em) {
.inner[data-v-7eb2e851] {
        padding-left: 0.5em;
        padding-right: 0.5em;
}
}
.progressbars[data-v-7eb2e851] {
    column-gap: 0.5em;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
    margin-top: 1em;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: var(--light);
}
.labels[data-v-7eb2e851] {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    /*margin-left: 2em;*/
}
.bars[data-v-7eb2e851] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.row[data-v-7eb2e851] {
    height: 1.75em;
    min-height: 1.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.label[data-v-7eb2e851] {
    text-align: right;
    line-height: 2em;
    color: black;
}
.bar[data-v-7eb2e851] {
    height: 0.7em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}
.bar-bg[data-v-7eb2e851] {
    background-color: #eee;
    border: 1px solid var(--dark);
}
.blue[data-v-7eb2e851] {
    background-color: var(--ardc-blue);
    width: var(--4a341bf0);  /* CSS Vue magic here */
}
.pink[data-v-7eb2e851] {
    background-color: var(--ardc-pink);
    width: var(--4a341bfa);  /* CSS Vue magic here */
}
.yellow[data-v-7eb2e851] {
    background-color: var(--ardc-yellow);
    width: var(--4a341bea);  /* CSS Vue magic here */
}
.purple[data-v-7eb2e851] {
    background-color: var(--ardc-purple);
    width: var(--4a341bd8);  /* CSS Vue magic here */
}
button[data-v-7eb2e851] {
    padding: 0.5em 1.5em;
    height: min-content;
    flex-grow: 0;
    margin-left: 2em;
    margin-right: 1em;
    align-self: center;
}


.answer[data-v-74444eb4] {
    padding: 0.3em 0.2em;
    border: 2px solid var(--dark);
    border-radius: 0.25em;
    column-gap: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
*[data-v-74444eb4]:focus:not(.focus-visible) {
    /*  https://css-tricks.com/keyboard-only-focus-styles/  */
    outline: none;
}
.answer[data-v-74444eb4]:hover, .answer[data-v-74444eb4]:focus, .answer[data-v-74444eb4]:active, .answer[data-v-74444eb4]:focus-visible {
    border-color: var(--ardc-purple);
    color: var(--white);
}
.answer-radiobutton[data-v-74444eb4] {
    width: min-content;
}
.answer-points[data-v-74444eb4] {
    width: min-content;
    /*display: none;*/
}
.answer-text[data-v-74444eb4] {
    width: 100%;
}


fieldset[data-v-c82cf252] {
    border-style: none;
    flex-grow: 1;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0em;
    padding-inline-start: 0em;
    padding-inline-end: 0em;
    padding-block-end: 0em;
}
legend[data-v-c82cf252] {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin-bottom: 1em;
}
.question[data-v-c82cf252] {
    background-color: var(--dark);
    border-radius: 0.25em;
    border: 2px solid #444;
    color: var(--light);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 2em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
}
@media screen and (max-width: 41.5em) {
.question[data-v-c82cf252] {
        padding-left: 1em;
        padding-right: 1em;
}
}
.question-index[data-v-c82cf252] {
    min-width: 2em;
}
.question-guidance[data-v-c82cf252] {
    margin-bottom: 1em;
    text-align: justify;
    /*display: none;*/
}
.shared[data-v-c82cf252] {
    /* shared styles for legend and .question-index */
    font-weight: bold;
    line-height: 1.6em;
    font-size: 1.17em;
}

main[data-v-eaf7fb49] {
    color: var(--white);
}
h1[data-v-eaf7fb49] {
    line-height: 1.2em;
    margin-top: 3em;
}
h2[data-v-eaf7fb49] {
    border-bottom: 2px solid var(--white);
    width: 40%;
    color: var(--white);
    margin-bottom: 1.5em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
    text-align: center;
}
