
img.logo[data-v-11cecc46] {
    height: 3em;
    margin-left: 2em;
    margin-right: 2em;
}
.logos[data-v-11cecc46] {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
footer[data-v-11cecc46] {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
    padding-bottom: 16em;
}
footer p[data-v-11cecc46] {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.badges[data-v-3edacc42] {
    margin-top: 5em;
    padding-top: 1.5em;
}
textarea[data-v-3edacc42] {
    background-color: white;
    border-radius: 3px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    color: black;
    height: 6em;
    resize: none;
    width: 100%;
    font-family: Consolas, Monaco, 'Lucida Console',
                'Liberation Mono', 'DejaVu Sans Mono',
                'Bitstream Vera Sans Mono',
                'Courier New', monospace;
}
.row[data-v-3edacc42] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.col[data-v-3edacc42] {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
button[data-v-3edacc42] {
    align-self: center;
    background-color: #eee;
    border-radius: 0.15em;
    border: 2px solid rgba(0, 0, 0, 0.7);
    color: black;
    flex-grow: 0;
    height: min-content;
    margin-left: 2em;
    margin-right: 1em;
    padding: 0.5em 1.5em;
}
button[data-v-3edacc42]:hover {
    border: 2px solid white;
    background-color: white;
    cursor: pointer;
}
button[data-v-3edacc42]:disabled {
    opacity: 0.5;
}
.copied-text[data-v-3edacc42] {
    font-size: 80%;
    margin-left: 2em;
    margin-right: 1em;
    opacity: 0;
}
.copied-text.opaque[data-v-3edacc42] {
    opacity: 1;
    transition: opacity 0s;
}
.copied-text.transparent[data-v-3edacc42] {
    opacity: 0;
    transition: opacity 2s;
}

.banner[data-v-38867b75] {
    background-color: lightgoldenrodyellow;
    border-radius: 0.5em;
    box-sizing: border-box;
    color: #333;
    margin-bottom: 1em;
    min-height: 3em;
    padding: 1.5em 3em;
    text-align: center;
}
#bg-container {
    background-color: black;
    height: 100vh;
    left: 0;
    min-width: 31em;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}
#bg {
    background-image: linear-gradient(145deg, rgba(0,0,0,0) 40%, var(--ardc-purple) 100%),
                      linear-gradient(215deg, rgba(0,0,0,0) 60%, var(--ardc-purple) 110%);
    width: 100%;
    height: 100%;
}
#app {
    position: relative;
    z-index: 10;
}
@media screen and (min-width: 70em) {
    :root {
        font-size: 112%;
    }
}
@media screen and (max-width: 70em) {
    :root {
        font-size: 100%;
    }
}
@media screen and (max-width: 41.5em) {
    :root {
        font-size: 70%;
    }
}
a {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    color: #71caff;
}

a:hover {
    color: var(--white);
}

a[data-v-914cf068] {
    text-underline-offset: 0.3em;
    color: #144e70;
}
a[data-v-914cf068]:hover {
    color: var(--black);
}
.banner[data-v-914cf068] {
    background-color: lightgoldenrodyellow;
    border-radius: 0.5em;
    box-sizing: border-box;
    color: #333;
    margin-bottom: 1em;
    min-height: 3em;
    padding: 1.5em 3em;
    text-align: center;
}

.banner[data-v-4661a9dc] {
    background-color: lightgoldenrodyellow;
    border-radius: 0.5em;
    box-sizing: border-box;
    color: #333;
    margin-bottom: 1em;
    min-height: 3em;
    padding: 1.5em 3em;
    text-align: center;
}

header[data-v-10cc80ad] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1em 0.5em;
}
.view-source[data-v-10cc80ad] {
    min-width: min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    cursor: pointer;
}
.view-source a[data-v-10cc80ad] {
    text-decoration: none;
    color: var(--light);
    padding-right: 0.6em;
    padding-top: 0.2em;
    line-height: 1.6;
    text-underline-offset: 0.7em;
}
.view-source:hover a[data-v-10cc80ad] {
    text-decoration: underline;
    color: white;
}
.view-source:hover img[data-v-10cc80ad] {
    opacity: 1;
    transform: scale(1.05);
}
.view-source img[data-v-10cc80ad] {
    width: 2em;
    height: 2em;
    opacity: 0.8;
}
@media screen and (min-width: 70em) {
.view-source[data-v-10cc80ad] {
        padding-right: 1em;
}
}

h2[data-v-729f5c83] {
    color: var(--white);
    font-size: 1.2em;
}
li[data-v-729f5c83] {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
span.anchor-like[data-v-729f5c83] {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    color: #71caff;
}
span.anchor-like[data-v-729f5c83]:hover {
    color: var(--white);
}
div.vspace[data-v-729f5c83] {
    height: 1.5em
}
img[data-v-729f5c83] {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 2em;
    margin-top: 2em;
}
.expands[data-v-729f5c83] {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
}
.expanded[data-v-729f5c83] {
    max-height: 200em;
    opacity: 1;
    transition: max-height 2s ease,
                opacity 1s ease;
}
.collapsed[data-v-729f5c83] {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.75s ease,
                opacity 0.2s ease;
}


.footer[data-v-a736e01a] {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    left: 0;
    position: fixed;
    width: 100%;
}
.inner[data-v-a736e01a] {
    align-items: center;
    background-color: var(--light);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 56em;
    width: 100%;
}
.another-inner[data-v-a736e01a] {
    background-color: var(--light);
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 50em;
    min-width: 30em;
}
@media screen and (min-width: 70em) {
.inner[data-v-a736e01a] {
        padding-left: 3em;
        padding-right: 3em;
}
}
@media screen and (max-width: 70em) {
.inner[data-v-a736e01a] {
        padding-left: 3em;
        padding-right: 3em;
}
}
@media screen and (max-width: 41.5em) {
.inner[data-v-a736e01a] {
        padding-left: 0.5em;
        padding-right: 0.5em;
}
}
.progressbars[data-v-a736e01a] {
    background-color: var(--light);
    column-gap: 0.5em;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
    margin-top: 1em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
}
.labels[data-v-a736e01a] {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}
.bars[data-v-a736e01a] {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.row[data-v-a736e01a] {
    display: flex;
    flex-direction: column;
    height: 1.75em;
    justify-content: center;
    min-height: 1.75em;
}
.label[data-v-a736e01a] {
    color: black;
    line-height: 2em;
    text-align: right;
}
.bar[data-v-a736e01a] {
    border-bottom-right-radius: 0.25em;
    border-top-right-radius: 0.25em;
    height: 0.7em;
}
.bar-bg[data-v-a736e01a] {
    background-color: #eee;
    border: 1px solid var(--dark);
}
.blue[data-v-a736e01a] {
    background-color: var(--ardc-blue);
    width: var(--1c1062a2);  /* CSS Vue magic here */
}
.pink[data-v-a736e01a] {
    background-color: var(--ardc-pink);
    width: var(--1c1062ac);  /* CSS Vue magic here */
}
.yellow[data-v-a736e01a] {
    background-color: var(--ardc-yellow);
    width: var(--1c10629c);  /* CSS Vue magic here */
}
.purple[data-v-a736e01a] {
    background-color: var(--ardc-purple);
    width: var(--1c10628a);  /* CSS Vue magic here */
}
button[data-v-a736e01a] {
    align-self: center;
    background-color: #eee;
    border-radius: 0.15em;
    border: 1px solid rgba(0,0,0,0.5);
    color: black;
    flex-grow: 0;
    height: min-content;
    margin-left: 2em;
    margin-right: 1em;
    padding: 0.5em 1.5em;
}
button[data-v-a736e01a]:hover {
    border: 1px solid rgba(0,0,0,0.7);
    background-color: white;
    cursor: pointer;
}
button[data-v-a736e01a]:disabled {
    opacity: 0.5;
}


.answer[data-v-285baffd] {
    padding: 0.3em 0.2em;
    border: 2px solid var(--dark);
    border-radius: 0.25em;
    column-gap: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
*[data-v-285baffd]:focus:not(.focus-visible) {
    /*  https://css-tricks.com/keyboard-only-focus-styles/  */
    outline: none;
}
.answer[data-v-285baffd]:hover, .answer[data-v-285baffd]:focus, .answer[data-v-285baffd]:active, .answer[data-v-285baffd]:focus-visible {
    border-color: var(--ardc-purple);
    color: var(--white);
}
.answer-radiobutton[data-v-285baffd] {
    width: min-content;
}
.answer-points[data-v-285baffd] {
    width: min-content;
    display: none;
}
.answer-text[data-v-285baffd] {
    width: 100%;
}
.answer-elaboration[data-v-285baffd] {
    margin-left: 1.5em;
    margin-right: 3em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    font-size: 0.9em;
    filter: brightness(80%);
}

fieldset[data-v-b0770d1e] {
    border-style: none;
    flex-grow: 1;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0em;
    padding-inline-start: 0em;
    padding-inline-end: 0em;
    padding-block-end: 0em;
}
legend[data-v-b0770d1e] {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin-bottom: 1em;
}
.question[data-v-b0770d1e] {
    background-color: var(--dark);
    border-radius: 0.25em;
    border: 2px solid #444;
    color: var(--light);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 2em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
}
@media screen and (max-width: 41.5em) {
.question[data-v-b0770d1e] {
        padding-left: 1em;
        padding-right: 1em;
}
}
.question-index[data-v-b0770d1e] {
    min-width: 2em;
}
.shared[data-v-b0770d1e] {
    /* shared styles for legend and .question-index */
    font-weight: bold;
    line-height: 1.6em;
    font-size: 1.17em;
}

main[data-v-94a35a0a] {
    min-width: 30em;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
}
@media screen and (min-width: 70em) {
main[data-v-94a35a0a] {
        padding-left: 3em;
        padding-right: 3em;
}
}
@media screen and (max-width: 70em) {
main[data-v-94a35a0a] {
        padding-left: 3em;
        padding-right: 3em;
}
}
@media screen and (max-width: 41.5em) {
main[data-v-94a35a0a] {
        padding-left: 0.5em;
        padding-right: 0.5em;
}
}
h1[data-v-94a35a0a] {
    line-height: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.25em;
}
h2[data-v-94a35a0a] {
    width: 40%;
    color: var(--white);
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
p.principle-quote[data-v-94a35a0a] {
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 1.5em;
    margin-left: 4em;
    margin-right: 4em;
    text-align: center;
}
p.principle-quote[data-v-94a35a0a]:before {
    content: open-quote;
}
p.principle-quote[data-v-94a35a0a]:after {
    content: close-quote;
}
