
textarea[data-v-cb44f43b] {
    width: 100%;
    height: 6em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 3px;
    resize: none;
}

.banner[data-v-48cb2967] {
    background-color: lightgoldenrodyellow;
    min-height: 3em;
    border-radius: 0.5em;
    color: #333;
    padding: 1.5em 3em;
    box-sizing: border-box;
    text-align: center;
}

.outer[data-v-580e5af2] {
    background-color: #808080;
    width: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
}
.inner[data-v-580e5af2] {
    background-color: #8E489B;
    height: 0.6em;
    width: var(--4e49e693);  /* CSS Vue magic here */
}
:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    box-sizing: border-box;
    background-color: #000000;
    margin: 0;

    --ardc-blue: #00B0D5;
    --ardc-pink: #E51875;
    --ardc-yellow: #F8B20E;
    --ardc-purple: #8E489B;
    --white: #FFFFFF;
    --black: #000000;
    --light: #cccccc;
    --dark: #242424;

}

#app {
    min-width: 30em;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3em;
    padding-right: 3em;
}

footer {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
    padding-bottom: 6em;
}

main {
    color: var(--light);
}

h1 {
    line-height: 1.2em;
    margin-top: 3em;
}
h2 {
    margin-bottom: 3em;
}

h3 {
    line-height: 1.6em;
}

a {
    text-decoration: none;
    color: var(--ardc-blue);
}

a:visited {
    color: var(--ardc-purple);
}

a:hover {
    text-decoration: underline;
}

.aspect {
    background-color: var(--dark);
    margin-bottom: 6em;
    padding: 3em;
    border-radius: 1em;
}

fieldset {
    font-size: normal;
    border-style: none;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0em;
    padding-inline-start: 0em;
    padding-inline-end: 0em;
    padding-block-end: 0em;
}

.question {
    margin-bottom:3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.question-index {
    /* needs to be the same style as h3 */
    min-width: 2em;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 1.6em;
}

.question-content {
    flex-grow: 1;
    /*background-color: #333;*/
    display: flex;
    flex-direction: column;
}
.question-guidance {
    margin-bottom: 1em;
    margin-top: 1em;
    /*display: none;*/
}

.answer {
    padding: 0.3em 0.2em;
    border: 2px solid var(--dark);
    border-radius: 0.25em;
    column-gap: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.answer:hover {
    border-color: var(--ardc-purple);
    color: var(--white);
}

.answer-radiobutton {
    width: min-content;
}
.answer-points {
    width: min-content;
    /*display: none;*/
}
.answer-text {
    width: 100%;
}

.overall-progress {
    margin-bottom: 5em;
    background-color: #eeeeee;
    color: var(--dark);
    margin-bottom: 6em;
    padding: 3em;
    border-radius: 1em;

}

img.logo {
    height: 3em;
    margin-left: 2em;
    margin-right: 2em;
}

.logos {
    display: flex;
    justify-content: center;
    margin-bottom: 3em
}


footer p {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    font-size: small;
}
