
img.logo[data-v-afb26c69] {
    height: 3em;
    margin-left: 2em;
    margin-right: 2em;
}
.logos[data-v-afb26c69] {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
footer[data-v-afb26c69] {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
    padding-bottom: 16em;
}
footer p[data-v-afb26c69] {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

a[data-v-018fc387] {
    text-underline-offset: 0.3em;
    color: #71caff;
}
a[data-v-018fc387]:hover {
    color: var(--white);
}
#bg-container {
    background-color: black;
    height: 100vh;
    left: 0;
    min-width: 31em;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}
#bg {
    background-image: linear-gradient(145deg, rgba(0,0,0,0) 40%, var(--ardc-blue) 100%),
                      linear-gradient(215deg, rgba(0,0,0,0) 60%, var(--ardc-blue) 110%);
    width: 100%;
    height: 100%;
}
#app {
    position: relative;
    z-index: 10;
}
@media screen and (min-width: 70em) {
    :root {
        font-size: 112%;
    }
}
@media screen and (max-width: 70em) {
    :root {
        font-size: 100%;
    }
}
@media screen and (max-width: 41.5em) {
    :root {
        font-size: 70%;
    }
}

a[data-v-6e230cee] {
    text-underline-offset: 0.3em;
    color: #144e70;
}
a[data-v-6e230cee]:hover {
    color: var(--black);
}
.banner[data-v-6e230cee] {
    background-color: lightgoldenrodyellow;
    border-radius: 0.5em;
    box-sizing: border-box;
    color: #333;
    margin-bottom: 1em;
    min-height: 3em;
    padding: 1.5em 3em;
    text-align: center;
}

header[data-v-63f4864e] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1em 0.5em;
}
.view-source[data-v-63f4864e] {
    min-width: min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    cursor: pointer;
}
.view-source a[data-v-63f4864e] {
    text-decoration: none;
    color: var(--light);
    padding-right: 0.6em;
    padding-top: 0.2em;
    line-height: 1.6;
    text-underline-offset: 0.7em;
}
.view-source:hover a[data-v-63f4864e] {
    text-decoration: underline;
    color: white;
}
.view-source:hover img[data-v-63f4864e] {
    opacity: 1;
    transform: scale(1.05);
}
.view-source img[data-v-63f4864e] {
    width: 2em;
    height: 2em;
    opacity: 0.8;
}
@media screen and (min-width: 70em) {
.view-source[data-v-63f4864e] {
        padding-right: 1em;
}
.home[data-v-63f4864e] {
        padding-left: 1em;
}
}
svg[data-v-63f4864e] {
    width: 2em;
    height: 2em;
}
svg[data-v-63f4864e]:hover {
    transform: scale(1.05);
}
#outline[data-v-63f4864e] {
    fill: var(--light);
}
svg:hover #outline[data-v-63f4864e] {
    fill: white;
}
#inside[data-v-63f4864e] {
    fill: black;
}

.footer[data-v-38a05081] {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    left: 0;
    position: fixed;
    width: 100%;
}
.inner[data-v-38a05081] {
    align-items: center;
    background-color: var(--light);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 56em;
    width: 100%;
}
.another-inner[data-v-38a05081] {
    background-color: var(--light);
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 50em;
    min-width: 30em;
}
@media screen and (min-width: 70em) {
.inner[data-v-38a05081] {
        padding-left: 3em;
        padding-right: 3em;
}
}
@media screen and (max-width: 70em) {
.inner[data-v-38a05081] {
        padding-left: 3em;
        padding-right: 3em;
}
}
@media screen and (max-width: 41.5em) {
.inner[data-v-38a05081] {
        padding-left: 0.5em;
        padding-right: 0.5em;
}
}
.progressbars[data-v-38a05081] {
    background-color: var(--light);
    column-gap: 0.5em;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
    margin-top: 1em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
}
.labels[data-v-38a05081] {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}
.bars[data-v-38a05081] {
    display: flex;
    flex-direction: column;
    flex-grow: 0.9;
}
.row[data-v-38a05081] {
    display: flex;
    flex-direction: column;
    height: 1.75em;
    justify-content: center;
    min-height: 1.75em;
}
.label[data-v-38a05081] {
    color: black;
    line-height: 2em;
    text-align: right;
}
.bar[data-v-38a05081] {
    border-bottom-right-radius: 0.25em; 
    border-top-right-radius: 0.25em;
    height: 0.7em;
}
.bar-bg[data-v-38a05081] {
    background-color: #eee;
    border: 1px solid var(--dark);
}
.blue[data-v-38a05081] {
    background-color: var(--ardc-blue);
    width: var(--4ee09f43);  /* CSS Vue magic here */
}
.pink[data-v-38a05081] {
    background-color: var(--ardc-pink);
    width: var(--4ee09f3e);  /* CSS Vue magic here */
}
.yellow[data-v-38a05081] {
    background-color: var(--ardc-yellow);
    width: var(--4ee09f46);  /* CSS Vue magic here */
}
.purple[data-v-38a05081] {
    background-color: var(--ardc-purple);
    width: var(--4ee09f4f);  /* CSS Vue magic here */
}


.answer[data-v-33d6568f] {
    padding: 0.3em 0.2em;
    border: 2px solid var(--dark);
    border-radius: 0.25em;
    column-gap: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
*[data-v-33d6568f]:focus:not(.focus-visible) {
    /*  https://css-tricks.com/keyboard-only-focus-styles/  */
    outline: none;
}
.answer[data-v-33d6568f]:hover, .answer[data-v-33d6568f]:focus, .answer[data-v-33d6568f]:active, .answer[data-v-33d6568f]:focus-visible {
    border-color: var(--ardc-blue);
    color: var(--white);
}
.answer-radiobutton[data-v-33d6568f] {
    width: min-content;
}
.answer-points[data-v-33d6568f] {
    width: min-content;
    /*display: none;*/
}
.answer-text[data-v-33d6568f] {
    width: 100%;
}


fieldset[data-v-69982709] {
    border-style: none;
    flex-grow: 1;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0em;
    padding-inline-start: 0em;
    padding-inline-end: 0em;
    padding-block-end: 0em;
}
legend[data-v-69982709] {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin-bottom: 1em;
}
.question[data-v-69982709] {
    background-color: var(--dark);
    border-radius: 0.25em;
    border: 2px solid #444;
    color: var(--light);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 2em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
}
@media screen and (max-width: 41.5em) {
.question[data-v-69982709] {
        padding-left: 1em;
        padding-right: 1em;
}
}
.question-index[data-v-69982709] {
    min-width: 2em;
}
.question-guidance[data-v-69982709] {
    margin-bottom: 1em;
    text-align: justify;
    /*display: none;*/
}
.shared[data-v-69982709] {
    /* shared styles for legend and .question-index */
    font-weight: bold;
    line-height: 1.6em;
    font-size: 1.17em;
}

main[data-v-046d8562] {
    min-width: 30em;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
}
@media screen and (min-width: 70em) {
main[data-v-046d8562] {
        padding-left: 3em;
        padding-right: 3em;
}
}
@media screen and (max-width: 70em) {
main[data-v-046d8562] {
        padding-left: 3em;
        padding-right: 3em;
}
}
@media screen and (max-width: 41.5em) {
main[data-v-046d8562] {
        padding-left: 0.5em;
        padding-right: 0.5em;
}
}
h1[data-v-046d8562] {
    line-height: 1.2em;
    margin-top: 1em;
}
h2[data-v-046d8562] {
    border-bottom: 2px solid var(--white);
    width: 40%;
    color: var(--white);
    margin-bottom: 1.5em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
    text-align: center;
}
