
img.logo[data-v-6fb89924] {
    height: 3em;
    margin-left: 2em;
    margin-right: 2em;
}
.logos[data-v-6fb89924] {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
footer[data-v-6fb89924] {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
    padding-bottom: 6em;
}
footer p[data-v-6fb89924] {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

a[data-v-058ee869] {
    text-underline-offset: 0.3em;
    color: #71caff;
}
a[data-v-058ee869]:hover {
    color: var(--white);
}
#app {
    min-width: 30em;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
}

@media screen and (min-width: 70em) {
    :root {
        font-size: 112%;
    }
}
@media screen and (max-width: 70em) {
    :root {
        font-size: 100%;
    }
}
@media screen and (max-width: 41.5em) {
    :root {
        font-size: 70%;
    }
}

main[data-v-fc835bc5] {
    background-color: var(--black);
    color: var(--white);
}
h1[data-v-fc835bc5] {
    line-height: 1.2em;
    margin-top: 3em;
}
