:root {
    background-image: linear-gradient(165deg, black 55%, var(--ardc-blue) 110%);
    background-attachment: fixed;
    font-size: 112%;
    height: 100vh;
    width: 100%;
}

#app {
    min-width: 30em;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3em;
    padding-right: 3em;
}

@media screen and (max-width: 70em){
    :root {
        font-size: 100%;
    }

    #app {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media screen and (max-width: 41.5em){
    :root {
        font-size: 70%;
    }

    #app {
        padding-left: 0.25em;
        padding-right: 0.25em;
    }
}

a[data-v-2f07734b] {
    text-underline-offset: 0.3em;
    color: #144e70;
}
a[data-v-2f07734b]:hover {
    color: var(--black);
}
.banner[data-v-2f07734b] {
    background-color: lightgoldenrodyellow;
    border-radius: 0.5em;
    box-sizing: border-box;
    color: #333;
    margin-bottom: 1em;
    min-height: 3em;
    padding: 1.5em 3em;
    text-align: center;
}

img.logo[data-v-140da7b6] {
    height: 3em;
    margin-left: 2em;
    margin-right: 2em;
}
.logos[data-v-140da7b6] {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
footer[data-v-140da7b6] {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
    padding-bottom: 6em;
}
footer p[data-v-140da7b6] {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    font-size: small;
}

a[data-v-865de604] {
    text-underline-offset: 0.3em;
    color: #71caff;
}
a[data-v-865de604]:hover {
    color: var(--white);
}

.outer[data-v-90dbaf62] {
    background-color: #808080;
    width: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
}
.inner[data-v-90dbaf62] {
    background-color: var(--ardc-yellow);
    height: 1em;
    width: var(--ef16bdce);  /* CSS Vue magic here */
}

.answer[data-v-baeacf9e] {
    padding: 0.3em 0.2em;
    border: 2px solid var(--dark);
    border-radius: 0.25em;
    column-gap: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
*[data-v-baeacf9e]:focus:not(.focus-visible) {
    /*  https://css-tricks.com/keyboard-only-focus-styles/  */
    outline: none;
}
.answer[data-v-baeacf9e]:hover, .answer[data-v-baeacf9e]:focus, .answer[data-v-baeacf9e]:active, .answer[data-v-baeacf9e]:focus-visible {
    border-color: var(--ardc-blue);
    color: var(--white);
}
.answer-radiobutton[data-v-baeacf9e] {
    width: min-content;
}
.answer-points[data-v-baeacf9e] {
    width: min-content;
    /*display: none;*/
}
.answer-text[data-v-baeacf9e] {
    width: 100%;
}


fieldset[data-v-a03a34ad] {
    border-style: none;
    flex-grow: 1;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0em;
    padding-inline-start: 0em;
    padding-inline-end: 0em;
    padding-block-end: 0em;
}
legend[data-v-a03a34ad] {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin-bottom: 1em;
}
.question[data-v-a03a34ad] {
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.question-index[data-v-a03a34ad] {
    min-width: 2em;
}
.question-guidance[data-v-a03a34ad] {
    margin-bottom: 1em;
    text-align: justify;
    /*display: none;*/
}
.shared[data-v-a03a34ad] {
    /* shared styles for legend and .question-index */
    font-weight: bold;
    line-height: 1.6em;
    font-size: 1.17em;
}

main[data-v-f0657e6d] {
    color: var(--white);
}
h1[data-v-f0657e6d] {
    line-height: 1.2em;
    margin-top: 3em;
}
h2[data-v-f0657e6d] {
    border-bottom: 2px solid var(--white);
    color: var(--white);
    margin-bottom: 2em;
    padding: 20px 10px;
    text-align: center;
}
.aspect[data-v-f0657e6d] {
    background-color: var(--dark);
    border-radius: 0.5em;
    border: 2px solid #444;
    color: var(--light);
    margin-bottom: 6em;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
}
@media screen and (max-width: 41.5em) {
.aspect[data-v-f0657e6d] {
        padding-left: 1em;
        padding-right: 1em;
}
}
.overall-progress[data-v-f0657e6d] {
    background-color: var(--white);
    border-radius: 0.5em;
    color: var(--dark);
    line-height: 1.6em;
    margin-bottom: 5em;
    margin-bottom: 6em;
    padding: 3em;
}
