:root {
    background-image: linear-gradient(165deg, black 55%, var(--ardc-blue) 110%);
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

#app {
    min-width: 30em;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3em;
    padding-right: 3em;
}
