:root {
    --ardc-blue: #00B0D5;
    --ardc-pink: #E51875;
    --ardc-yellow: #F8B20E;
    --ardc-purple: #8E489B;
    --white: #FFFFFF;
    --black: #000000;
    --light: #cccccc;
    --dark: #242424;
}
